* {
  color: white;
}

.slider-container {
  width: 500px;
  height: 500px;
  margin: auto;
}

.slide {
  text-align: center;
  background-color: #023eb4;
  position: absolute;
  top: 0px;
  max-width: 400px;
  display: none;
}

.slide-1 {
  display: block;
}

.slide img {
  width: 350px;
  height: auto;
}

.slide-image {
  height: 500px;
  overflow: hidden;
}

.slide a {
  text-decoration: none;
}

